.container {
  width: 640px;
  margin: auto;
  margin-top: 150px;
  display: flex;
  border-radius: 10px;
  background: white;
  color: #3995db;
  flex-direction: column;
  gap: 20px;
  padding: 40px 50px;
}
.container hr {
  height: 2px;
  border: none;
  background: #707070;
}
.container h2 {
  font-size: 27px;
  font-weight: 500;
}
.container ul li {
  display: flex;
  align-items: center;
  height: 70px;
  padding-left: 15px;
  border: 1px solid #3995db;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: 20px;
  cursor: pointer;
}
.container button {
  margin: auto;
  width: 250px;
  height: 65px;
  background: #3995db;
  border-radius: 8px;
  color: white;
  font-size: 25px;
  font-weight: 500;
  cursor: pointer;
}

.container .index {
  margin: auto;
  font-size: 18px;
}
.container .correct{
    background-color: aquamarine;
    border-color: green;
}
.container .wrong{
    background-color: lightcoral;
    border-color: red;
}